html{
  background-color: #f2f2f2;
}
/*上下左右边框*/
.border-top {
  background-image:-webkit-linear-gradient(top,#e4e4e4 50%,transparent 50%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position:top;
}

.border-bottom {
  background-image:-webkit-linear-gradient(bottom,transparent 50%,#e4e4e4 50%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position:bottom;
}

.border-left {
   background-image:-webkit-linear-gradient(left,transparent 50%,#e4e4e4 50%);
  background-size: 1px 100%;
  background-repeat: no-repeat;
   background-position:left;
}

.border-right {
   background-image:-webkit-linear-gradient(right,#e4e4e4 50%,transparent 50%);
  background-size: 1px 100%;
  background-repeat: no-repeat;
   background-position:right;
}
